.homeHeader{
    margin-left: 115px;
    margin-right: 115px;
    margin-top: 20px;
    height: 60px;
}


.login{
    margin-left: 990px;
}

.downloadIcons{
    padding-left: 470px;
}

.downloadIcons button{
    background-color: white;
    border: none;
}

.userImage{
    border-radius: 50%;
}

.userName{
    color: rgb(51, 122, 183);
    font-size: 20px;
}

.userCard{
    width: 13vw;
    height: 255px;
}

.contacts{
    width: 69vw;
    height: 100%;
}

.createContact button{
    color: white;
    background-color: rgb(51, 122, 183);
    border: none;
    border-radius: 20px;
}

.tableHeading{
    color: rgb(51, 122, 183);
    border-bottom: 1px solid rgb(239, 239, 239)
}

.bgBlue{
    background-color: rgb(218, 238, 247);
    width: 15px;
}

.modalHeader{
    background-color: rgb(218, 238, 247);
    color: rgb(40, 96, 144);
    padding: 10px 150px 10px 150px;
}

.userPic{
    background-color: rgb(218, 238, 247);
}

.modalBody{
    width: 600px;
}

.userPic{
    width: 200px;
    padding-top: 100px;
}

.userPic img{
    border-radius: 50%;;
}

.modalHeadings{
    color:  rgb(40, 96, 144);
}

.modalHeadings2{
    color:  rgb(40, 96, 144);
}


.partHeading{
    border-bottom: 2px solid  rgb(40, 96, 144);
    box-sizing: border-box;
}

.modalHeadings select{
    border: none;
    border-top: 1px solid rgb(223, 217, 217);
    border-bottom: 1px solid grey;
    height: 40px;
    width: 50px;
}

.modalHeadings select:focus{
    outline: none;
}

.modalHeadings2 select{
    border: none;
    border-top: 1px solid rgb(223, 217, 217);
    border-bottom: 1px solid grey;
    height: 40px;
    width: 250px;
}


.modalHeadings2 select:focus{
    outline: none;
}


.modalHeadings input, .dob, .profilePic{
    border: none;
    border-top: 1px solid rgb(223, 217, 217);
    border-bottom: 1px solid grey;
    height: 40px;
}

.modalHeadings input:focus{
    outline: none;
}

.dob{
    width: 200px;
}

.contactPic{
    border-radius: 500px;
}

.tableImage{
    width: 110px;
}

.tableName{
    width: 150px;
}

.tableEmail{
    width: 150px;
}

.optionsButton{
    color: rgb(51, 122, 183);
    background-color: white;
    border: 1px solid rgb(51, 122, 183);
    border-radius: 50px;
    padding: 2px 20px 2px 20px;
}

.borderBottom{
    border-bottom: 1px solid rgb(228, 225, 225);
}

.viewHeader{
    color: rgb(51, 122, 183);
    background-color: rgb(218, 238, 247);
    padding: 10px 100px 10px 100px;
    width: 500px;
    margin: 50px 50px 20px 50px;
}

.viewContactPic{
    background-color: rgb(218, 238, 247);
    width: 185px;
    padding-top: 100px;
}

.detailsLabel, .detailsLabel2{
    color: rgb(51, 122, 183);
}

.detailsLabel{
    width: 150px;
}

.viewClose{
    background-color: rgb(51, 122, 183);
    width: 100px;
    border: none;
    border-radius: 50px;
}

.logoutButton{
    background-color: rgb(51, 122, 183);
    border: none;
    color: white;
}

.uploadHeader{
    color: rgb(51, 122, 183);
    border-bottom: 2px solid rgb(51, 122, 183);
}

.uploadExcel{
    color: rgb(51, 122, 183);
}

.greenText{
    color: green;
}